.total-amount-container {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Shadow effect */
    background-color: #ffffff;
    color: #333;
  }
  
  .total-amount-label {
    margin-right: 10px;
  }
  
  .total-amount-value {
    color: #28a745;
  }


  ::ng-deep .mat-autocomplete-panel {
    max-height: 200px; /* Adjust height as needed */
    overflow-y: auto; /* Enable vertical scrollbar */
  }

  .mat-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .mat-option span {
    font-size: 14px;
    white-space: nowrap; /* Prevent wrapping */
  }
  
  .mat-option .text-muted {
    color: rgb(38, 84, 182);
    font-size: 13px; /* Slightly smaller for secondary text */
  }
  


  .text-success {
    color: green;
    font-weight: bold;
  }
  
  .text-danger {
    color: red;
    font-weight: bold;
  }
  
  